NEXT_PUBLIC_SANITY_PROJECT_ID=3dg6yd6t
NEXT_PUBLIC_SANITY_DATASET=production
SANITY_API_TOKEN=

RESEND_API_KEY=
RESEND_FROM_EMAIL=
CONTACT_TO_EMAIL=ask@novaimpactenergy.com

AIRTABLE_API_TOKEN=
AIRTABLE_BASE_ID=app83eoh8xGfwbaAz
AIRTABLE_TABLE_NAME=Leads
